<header>
    {{> header}}
</header>
<main>
  <table>
    <tr>
      <th>Category<th>
      <th>Quote<th>
      <th>Author<th>
      <th>Keyword<th>
    <tr>
    {{> quotesByCategory}}
  </table>
</main>
<footer>
   {{> footer}}
</footer>
