<form class="quote-form" autocomplete="off" action="/submitquote" method="post">
    <label for="category">Category</label>
    <select class="category" name="category" id="category" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="quote"> Quote</label>
    <input type="text" name="quote" class="quote" id="quote" required>
    <label for="author"> Author</label>
    <input type="text" name="author" class="author" id="author" required>
    <label for="keyword"> Keyword</label>
    <input type="text" name="keyword" class="keyword" id="keyword" required>
    <input type="submit" value="Submit" class="submit_button">
</form>
<label> Search By Category
<select class="category" name="category" id="category" required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<input type="button" id="category" value="Search"/>
</label>
