<form class="search-form" action="/search" method="get">
    <label for="input-search">Search by keyword</label>
    <input for="input-search" name="keyword" title="Please enter only one word" placeholder="e.g. revenge" required>
    <input type="submit" value="Search" class="submit_button"></form>